@tailwind base;
@tailwind components;
@tailwind utilities;

.mySwiper {
    width: 50%;
    height: 10%;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }